
header{
    background-color: blueviolet;
    padding: 5%;
    text-align: center;

}

body{
    background-color: rgb(86, 232, 252);
    justify-content: center;
    height: 100%;
    width: 100;
    /* display: flex; */
}

.h4 {
    text-align: left;
    font-weight: 800;
    font-size: large;
    color: yellow;
}

.timer{
    text-align: right;
    color: rgb(236, 217, 43);

}

.button{
    size: 20px;
}
.box{
    width: 50%;
    height: 200px;
    background-color: orange;
    border: 20px;
    margin: 30px;
    
}

.circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
    background-color: chartreuse;
}



@media screen and (max-width: 450px){
    body{
        background-color: blue;
    }
    
}