
header{
    background-color: blueviolet;
    padding: 5%;
    text-align: center;

}

body{
    background-color: rgb(218, 242, 245);
    justify-content: left;
    height: 100%;
    width: 100;

}

.h4 {
    text-align: left;
    font-weight: 800;
    font-size: large;
    color: yellow;
}

.timer{
    text-align: right;
    color: rgb(236, 217, 43);

}

.button{
    size: 20px;
}
.box{
    width: 70%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 20px;
    margin: 30px 100px 20px;
    visibility: hidden;
    display: flexbox;
    color: black;
    
}

.questionarea1{
    width: 100%;
    height: 400px;
    font-size: 25px;
   text-align: center;
}




.answerbutton{
    background-color: greenyellow;
    width: 130px;
    height: 100px;
    text-align: left;
}


.answerbutton:hover{
    background-color: rgb(255, 78, 47);
    width: 130px;
    height: 100px;
    text-align: left;
}




.li{
    margin: 3px;
    border-radius: .4rem;
    padding: 3px;
    background-color: rgb(197, 1, 232);
    width: 180px;

}


@media screen and (max-width: 450px){
    body{
        background-color: blue;
    }
    
}